@keyframes floatInAndColorChange {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Start above the final position */
    color: transparent;
    visibility: visible;
  }
  50% {
    opacity: 1;
    transform: translateY(0);
    color: transparent;
  }
  100% {
    color: #ffffff; /* End with the same color as the border */
    visibility: visible;
  }
}
@keyframes floatInAndColorChange2 {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Start above the final position */
    visibility: visible;
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    visibility: visible;
  }
}

.text-caption-contact1 {
  /* position: absolute; */
  visibility: hidden;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* Initial font color */
  -webkit-text-stroke: 0.1px #ffffff;
  color: transparent;
  /* padding: 10px; */
  animation: floatInAndColorChange 1s ease-in-out 2s forwards; /* Delay animation */
  animation-fill-mode: forwards; /* Keep the final state after animation ends */
  /* white-space: nowrap; */
}

.text-caption2 {
  /* position: absolute; */
  visibility: hidden;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* Initial font color */
  /* -webkit-text-stroke: 2px #29446D; */
  color: transparent;
  /* padding: 10px; */
  animation: floatInAndColorChange2 0.5s ease-in-out 2s forwards; /* Delay animation */
  animation-fill-mode: forwards; /* Keep the final state after animation ends */
  /* white-space: nowrap; */
}

@keyframes floatInMarquee {
  0% {
    /* opacity: 0; */
    transform: translateY(50px); /* Start above the final position */
    visibility: visible;
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
    visibility: visible;
    transform: rotate(1deg);
  }
}

.runnng_white_two1 {
  visibility: hidden;
  padding: 20px 0 10px 0px;
  margin-top: -260px;
  animation: floatInMarquee 0.5s ease-in-out 2s forwards; /* Delay animation */
  transform: rotate(2deg) !important;
}

@keyframes floatInTopdown {
  0% {
    /* opacity: 0; */
    transform: translateY(-50px); /* Start above the final position */
    visibility: visible;
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes amiStrokText {
  0% {
    color: white;
  }
  100% {
    color: transparent;
    text-stroke: 2px #ffffff;
    -webkit-text-stroke: 2px #ffffff;
    -moz-text-stroke: 2px #ffffff;
  }
}

.animate_strok_text {
  animation: amiStrokText 1s ease-in-out forwards;
}
