html {
  overflow-x: hidden !important;
}

@font-face {
  font-family: myFirstFont;
  src: url(./assests/Agrandir\ -\ Free\ For\ Personal\ Use/!important);
}

@font-face {
  font-family: GrandHeavy;
  src: url("./assests/Agrandir - Free For Personal Use/Agrandir-GrandHeavy.otf");
}

body {
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efb127;
  overflow: hidden;
}

.section_mine {
  display: flex;
  width: 82%;
  align-items: center;
}

.section_btn li a {
  text-decoration: none;
  color: white;
}

.secion_left {
  width: 50% !important;
  z-index: 9999 !important;
}

.secion_right {
  width: 50%;
  text-align: left;
}

.section_btn {
  display: flex;
  gap: 12px;
}

.section_btn li {
  background: #eeaf30;
  /* width: 31%; */
  font-size: 15px;
  margin-bottom: 5px;
  padding: 4px;
  border-radius: 12px;
  text-decoration: none;
  color: #ffffff;
}

.section_mine {
  position: relative;
}

/* .section_mine:after {
  background-image: url("./assests/up-events.png");
    content: "";
    background: red;
    width: 600px;
    position: absolute;
    right: 46%;
    height: 100%;
} */

/* .section_mine:after {
    position: absolute;
    height: 213px !important;
    width: 50% !important;
    z-index: 3;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background: red;
    background-image: url("./assests/up-events.png");
} */

/* .secion_left img {
    margin-left: 104px;
} */

.secion_left:before {
  background-image: url(./assests/up-eve-left.png);
  position: absolute;
  height: 100% !important;
  width: 20%;
  z-index: 3;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  top: 0%;
  right: -22%;
}

/* .secion_left img {
    width: 80%;
} */
.runnng_orange {
  width: 100%;
  padding: 20px 0px;
  background: #ee7430;
  transform: rotate(0deg);
}

.runnng_orange marquee {
  color: transparent;
  font-size: 55px;
  outline: white;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 70px;
}

.runnng_orange marquee img {
  margin-top: -10px;
}

h1.upcoming-events {
  /* margin: 0; */
  flex: 1;
  /* position: relative; */
  font-size: 55px;
  /* line-height: 90%; */
  text-transform: uppercase;
  font-weight: 400;
  /* font-family: inherit; */
  /* display: inline-block; */
  max-width: 100%;
  /* z-index: 2; */
  color: white;
  text-align: center;
  margin-bottom: 50px !important;
}

.freedom-is-empowering {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
  color: white;
}

.secion_right p {
  font-size: 18px;
  color: white;
}

.secion_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0;
  align-items: center;
}

img.evet_1 {
  width: 300px;
}

img.evet_2 {
  margin-left: -115px;

  z-index: 1;
  width: 308px;
}

.note_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  position: relative;
  margin: 75px auto;
  gap: 25px;
}

.not_img h2 {
  width: 100%;
  text-align: right;
  font-size: 40px;
  color: white;
  /* position: relative; */
  position: absolute;
  top: -67px;
  right: 43%;
}

.not_text div {
  color: white;
  font-size: 19px;
}

.i-think-i1 {
  margin-top: 24px;
}

.i-think-we {
  font-family: GrandHeavy, Arial, sans-serif;
  font-size: 30px;
  line-height: 90%;
  margin: 0;
}

.content_container {
  width: 49%;
  font-size: 55px;
  text-align: center;
  margin: auto;
  color: white;
  margin-top: 230px;
  /* position: relative; */
}

.honey_bee_section .content_container {
  max-width: 600px;
  font-size: 55px;
  text-align: center;
  margin: auto;
  color: white;
  margin-top: 230px;
  /* position: relative; */
}

.honey_bee_section {
  position: relative;
}

button.seemore {
  font-weight: 800;
  font-size: 18px;
  color: #29446d;
  background: white;
  padding: 5px 20px;
  border: 4px solid #eeaf30;
  border-radius: 30px;
  /* margin-left: 25px; */
  box-shadow: -9px 10px 2px 0px rgba(187, 170, 204, 1);
  -webkit-box-shadow: -9px 10px #3061ab;
  -moz-box-shadow: -9px 10px 2px 0px rgba(187, 170, 204, 1);
  margin-top: 13px;
  font-family: "Agrandir-GrandHeavy";
  height: 40px;
  margin: 0 auto;
  /* justify-content: center; */
  display: flex;
}

/* form */
.input-details-group-parent,
.group-div,
.rectangle-parent3 {
  display: flex;
  max-width: 600px;
  margin: auto;
}

input {
  border: solid 1px black;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

.title_filed {
  position: relative;
  width: 32%;
}

img.icon-chevron-bottom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.title_filed input {
  box-sizing: border-box;
  border: solid 3px #eeaf30;
  width: 178px;
}

.title_filed input::placeholder {
  font-size: 18px;
}

.title_filed input:focus {
  outline: none;
}

.name_field {
  width: 100% !important;
  text-align: justify;
  padding-left: 16px;
}

.name_field input {
  width: 100%;
}

.input-details-group {
  border: 0px;
}

.input-details-group:focus-visible {
  outline: 0px;
}

.group-div input {
  width: 100%;
  margin-top: 10px;
  border: none;
}

.group-div input:focus-visible {
  outline: none;
}

.footer-wrapper {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

section.frame-section {
  background: #3061ab;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: -59px;
  padding-top: 10px;
}

.mask-group-parent-wrapper {
  background-image: url("./assests/Honeybees_logo.png");
  background-size: 1247px 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  max-width: 1247px;
  height: 100%;
}

h2.drop-your-question {
  color: white;
  padding-top: 104px;
  font-size: 30px;
  line-height: 27px;
  font-family: GrandHeavy, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}

h2.drop-your-question {
  text-transform: uppercase;
}

.rectangle-parent3 {
  display: flex;
  align-items: baseline;
  justify-content: end;
  width: 96%;
  position: relative;
}

.whats-in-your {
  background: white;
  width: 100%;
  margin-top: 10px;
  padding: 8px 10px 5px 10px;
  border-radius: 20px;
  text-align: left;
  resize: none;
  /* position: relative; */
}
.whats-in-your:focus-visible {
  outline: none;
}

button.send-wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 5px 25px;
  border: solid #eeaf30 3px;
  position: absolute;
  top: 10px;
}

.rematch-quote {
  padding-top: 100px;
  display: flex;
  text-align: left;
  gap: 236px;
  align-items: center;
  max-width: 957px;
  margin: auto;
  width: 100%;
}

.authorized-representation-a-i {
  max-width: 600px;
  width: 100%;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: end;
}

.authorized-representative-msg {
  margin-top: 107px;
  display: flex;
  justify-content: center;
}

.social-media-icons {
  margin-top: auto;
  display: flex;
  column-gap: 20px;
}

.sp-honeybees-is-an-container {
  text-align: center;
}

.sp-honeybees-is-an-container p {
  color: white;
  font-size: 12px;
}

input::placeholder {
  font-size: 18px;
  font-weight: 700;
  color: 29446d;
}

.runnng_white {
  width: 100%;
  padding: 20px 0px;
  background: white;
  transform: rotate(-2deg);
  margin-bottom: -3px;
}

.runnng_white marquee {
  font-size: 55px;
  line-height: 70px;
  outline: #29446d;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #29446d;
  text-stroke: 2px #ffffff;
  letter-spacing: -4px;
  display: inline-block; /* Ensures the span takes up only the necessary width */
  vertical-align: middle; /* Aligns the text vertically in the middle */
}

.runnng_white marquee img {
  margin-top: -10px;
}

marquee,
.custo-main h1 {
  font-family: "Agrandir-GrandHeavy" !important;
  text-transform: uppercase;
}

.custo-main p {
  font-family: "AvenirNext" !important;
  font-size: 18px;
}

.honey_bee_section .honey_bee_section_container {
  max-width: 800px !important;
  width: 100%;
}

.honey_bee_section .honey_bee_section_container p {
  max-width: 600px;
  width: 100%;
  margin: auto;
  line-height: 110%;
}

.honey_bee_section_heading {
  margin-top: 442px;
  font-size: 55px;
  margin-bottom: 10px;
}

.block_sec {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.blocks {
  width: 100%;
}

.blocks img {
  /* width: 40%; */
  padding-bottom: 51px;
}

.blocks.blocks_join {
  padding-bottom: 150px;
}

.block_text {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding-bottom: 400px;
}

.block_text h1 {
  color: white;
  font-size: 55px;
  line-height: 90%;
  font-family: "Agrandir-GrandHeavy";
  text-transform: uppercase;
  margin-bottom: 10px;
}

.block_text p {
  color: white;
  font-size: 18px;
}

.block_text_container {
  padding-top: 200px;
  position: relative;
}

@media (max-width: 1600px) {
  .content_container:before {
    bottom: -230px;
  }
}

.runnng_orange.blue_runing {
  background: #3061ab;
  margin-bottom: -100px;
  transform: rotate(1deg);
}

.runnng_orange.blue_runing marquee img {
  margin-left: 18px;
  margin-top: -10px;
}

section.blue_bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px 0 0px 0;
  text-align: center;
  width: 100%;
}

.main_content h1 {
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  padding-top: 100px;
  line-height: 60px;
  font-family: "Agrandir-GrandHeavy";
  text-transform: uppercase;
}

.main_content {
  width: 65%;
  margin: auto;
  text-align: center;
  height: 100vh;
}

.main_content p {
  color: white;
  margin-bottom: 20px;
  font-family: "AvenirNext" !important;
  font-size: 18px;
}

.runnng_white.runnng_white_two {
  transform: rotate(0deg);
}

.runnng_white.runnng_white_two.yellow_running {
  background: #eeaf30;
  margin-bottom: -4px;
  transform: rotate(2deg);
  margin-top: -31px;
}

.runnng_white.runnng_white_two.yellow_running marquee {
  font-size: 55px;
  outline: white;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px #ffffff;
  letter-spacing: -4px;
}

section.banner_Section {
  background-size: cover;
  background: no-repeat;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 90px;
}

.running_banner {
  padding-top: 50px;
  padding-bottom: 32px;
}

.menu-list ul {
  display: flex;
  justify-content: center;
  background: #fffbf559;
  width: 62%;
  margin: auto;
  border-radius: 50px;
  padding: 0;
}

.menu-list ul li {
  padding: 15px 40px;
  list-style-type: none;
  text-transform: uppercase;
  color: #29446d;
  font-weight: 800 !important;
}

li.btn {
  background: #ff6464;
  border-radius: 50px;
  margin-left: 11px;
}

.menu-list ul li:hover {
  color: white;
  background-color: #3061ab;
  border-radius: 50px;
}

.home_meu .menu-list ul li:hover {
  background-color: white;
  color: #3061ab;
  border-radius: 50px;
}

.home_meu li.btn:hover {
  color: #3061ab !important;
  border-radius: 50px;
  margin-left: 11px;
}

.main_menue:before {
  background-image: url("./assests/btn-top.png");
  content: "";
  position: absolute;
  /* background: red; */
  width: 200px;
  height: 100%;
  right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  top: -37px;
}

.main_menue {
  position: relative;
}

.menu-list {
  padding-bottom: 30px;
}

li.btn {
  color: white !important;
}

li.btn:hover {
  background-color: white;
  color: #3061ab !important;
}

section.hero-sec .col {
  width: 33%;
}

section.hero-sec .row {
  display: flex;
  height: 60px;
  align-items: center;
}

body {
  /* background: url(./images/bg.png), #f0b226 !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center; */
  /* margin: 0;
  padding: 0;
  background-color: #efb127; */
}

/* section.hero-sec .container {
  background: url(./assets/img/AboutUs_BGcolour.png);
  background-size: cover;
} */

section.hero-sec .col {
  width: 33%;
}

section.hero-sec .row {
  display: flex;
  height: 60px;
  align-items: center;
}

.right-img {
  display: flex;
  justify-content: end;
  padding-right: 40px;
}

.right-img-honey img {
  width: 100%;
}

.center-img {
  display: flex;
  justify-content: center;
}

.hero-hed-sec h1 {
  font-size: 55px;
  color: #fffbf5;
  max-width: 1200px;
  line-height: 55px;
  width: 100%;
  margin: auto;
  font-family: "Agrandir-GrandHeavy";
  text-transform: uppercase;
  text-align: center;
}

.hero-hed-sec p {
  font-family: "AvenirNext" !important;
  font-size: 18px;
  color: #fffbf5;
  text-align: center;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    /* Start from a slightly larger scale */
    visibility: visible;
  }

  to {
    transform: scale(1);
    /* Scale down to the original size */
    visibility: visible;
  }
}

.hero-hed-sec-img {
  margin-left: 50px;
  margin-top: -100px;
  animation: scaleUp 0.5s ease-in-out 5s forwards;
  visibility: hidden;
}

@keyframes aboutGifFly {
  0% {
    transform: translate(-250px, 150px);
    visibility: visible;
  }

  100% {
    transform: translate(0, 0);
    visibility: visible;
  }
}

.hero-hed-sec-gif {
  margin-left: -200px;
  width: 120px;
  animation: aboutGifFly 1s ease-in-out 3s forwards;

  visibility: hidden;
}

@keyframes containerAni {
  0% {
    background: url("./assests/hive1.png");
    visibility: visible;
    background-position: center top;
    background-repeat: no-repeat;
  }

  25% {
    background: url("./assests/hive2.png");
    visibility: visible;
    background-position: center top;
    background-repeat: no-repeat;
  }

  50% {
    background: url("./assests/hive3.png");
    visibility: visible;
    background-position: center top;
    background-repeat: no-repeat;
  }

  75% {
    background: url("./assests/hive4.png");
    visibility: visible;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -10px;
  }

  100% {
    background: url("./assests/hive5.png");
    visibility: visible;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -25px;
  }
}

.hero-sec .container {
  /* background-image: url("./assests/hive1.png"), url("./assests/hive2.png"),
    url("./assests/hive3.png"), url("./assests/hive4.png"),
    url("./assests/hive5.png");
  background-repeat: no-repeat;
  background-position: center top;
  visibility: hidden;
  animation: containerAni 2s ease-in-out 0.5s forwards; */
}

.menu-list ul {
  display: flex;
  justify-content: center;
  background: #fffbf559;
  width: 61%;
  margin: auto;
  border-radius: 50px;
  padding: 0;
}

.menu-list ul li {
  padding: 15px 40px;
  list-style-type: none;
  text-transform: uppercase;
  color: #fffbf5;
  font-weight: 800 !important;
}

li.btn {
  background: #ff6464;
  border-radius: 50px;
  margin-left: 11px;
}

.menu-list ul li:hover {
  background: #3061ab;
  border-radius: 50px;
}

.menu-list {
  padding-bottom: 30px;
}

.text-dlise {
  background: #eeaf30;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(359deg);
}

.text-dlise span {
  color: white;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 38px;
  display: inline-block;
  width: 100%;
  animation: marquee 10s linear infinite;
}

.text-dlise-snd {
  background: #ee7430;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg);
}

.text-dlise-snd span {
  color: white;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 38px;
  display: inline-block;
  width: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.risk-sec {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  column-gap: 24px;
}

.risk-sec .text-box {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  max-width: 600px;
}

.text-box h1 {
  color: #fffbf5;
  font-weight: 700 !important;
  font-size: 30px;
  line-height: 27px;
  text-transform: uppercase;
  font-family: "Agrandir-GrandHeavy";
  margin: 0;
}

.text-box p {
  color: #fffbf5;
  font-size: 18px;
  line-height: 20px;
  font-family: "AvenirNext" !important;
}

.teg-btn ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0;
  margin: 0px -10px !important;
}

.teg-btn ul li {
  position: relative;
  font-size: 14px;
  line-height: 16.8px;
  font-family: "AvenirNext" !important;
  padding: 7px 25px;
  background: #eeaf30;
  margin: 5px 10px;
  border-radius: 10px;
  list-style-type: none;
  color: #fffbf5;
  min-width: max-content;
}

.teg-btn li:before {
  top: calc(50% - 4px);
  content: "";
  background: #fffbf5;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  margin-left: -16px;
}

/* .teg-btn-right li:before {
  top: 20px;
  content: "";
  background: #fffbf5;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  margin-left: -16px;
} */

.teg-btn {
  position: relative;
}

.wealth-sec {
  /* display: grid;
  grid-template-columns: 75% 25%;
  width: 70%;
  margin: auto;
  margin-top: 150px;
  padding-bottom: 80px;
  column-gap: 24px; */

  display: flex;
  max-width: 900px;
  margin: 70px auto;
  gap: 30px;
}

.text-box-right {
  text-align: end;
  margin-left: auto;
}

.text-box-right h1 {
  color: #fffbf5;
  font-weight: 700 !important;
  font-size: 30px;
  line-height: 27px;
  text-transform: uppercase;
  font-family: GrandHeavy, Arial, sans-serif;
}

.wealth-sec p {
  margin-left: auto;
}

.text-box-right p {
  color: #fffbf5;
  font-size: 18px;
  line-height: 20px;
  font-family: "AvenirNext" !important;
}

.teg-btn-right ul {
  display: flex;
  margin: 0px;
  padding: 0;
  justify-content: end;
  margin-right: -10px;
}

.teg-btn-right ul li {
  padding: 7px 25px;
  background: #eeaf30;
  margin: 5px 10px;
  border-radius: 10px;
  list-style-type: none;
  color: #fffbf5;
  font-size: 14px;
  font-family: "AvenirNext" !important;
}

.teg-btn-right ul li:before {
  top: calc(50% - 4px);
  content: "";
  background: #fffbf5;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50px;
  margin-left: -16px;
}

.teg-btn-right {
  position: relative;
}

.wealth-bg-after::after {
  content: "";
  background-image: url("./images/Group 208.png"),
    url("./assests/bee-logo2.gif");
  background-position: 0px 15px, 115px -5px;
  background-size: contain, 80px 80px;
  position: absolute;
  height: 150px;
  width: 190px;
  background-repeat: no-repeat;
  top: 50%;
}

.wealth-bg-after {
  position: relative;
}

.corporate-sec {
  display: flex;
  max-width: 900px;
  margin: 70px auto;
  gap: 30px;
}

.corporate-sec .text-box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  align-items: baseline;
  max-width: 550px;
}

.wealth-bg-after .text-box-right {
  max-width: 550px;
}

.text-box,
.text-box-right h1 {
}

.corporate-sec .text-box h1 {
  margin: 0;
  font-size: 30px;
}

.wealth-bg-after .text-box-right h1 {
  font-size: 30px;
}

.text-box,
.text-box-right h1,
p {
  margin: 0px;
}

.text-box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;
  align-items: end;
}

.corporate-sec .teg-btn ul li {
  background: #eeaf30 !important;
}

.teg-btn-right ul li {
  background: #eeaf30 !important;
}

.history-sec h1 {
  color: #fffbf5;
  text-align: center;
  font-size: 55px;
  line-height: 49.8px;
  text-transform: uppercase;
  font-family: "Agrandir-GrandHeavy";
  margin-top: 0;
  margin-bottom: 80px;
}

.his-img {
  text-align: start;
  margin-left: 10%;
}

.his-img img {
  width: 93%;
}

.box-wrap {
  position: relative;
  padding-top: 65px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 90%;
  margin-left: 10%;
}

/* .his-text-box img {
  display: none;
} */

.his-text-box h2 {
  color: #fffbf5;
}

.his-text-box p {
  color: #fffbf5;
}

.history-sec {
  margin-top: 0px;
}

.testimnial-sec {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 150px;
}

.testimnial-sec h1 {
  text-transform: uppercase;
  color: #fffbf5;
  font-size: 55px;
  line-height: 49.8px;
  text-transform: uppercase;
  font-family: "Agrandir-GrandHeavy";
}

.testimnial-sec p {
  color: #fffbf5;
  font-family: "AvenirNext" !important;
}

.testimnial-bg-after {
  padding-bottom: 100px;
}

.testimnial-bg-after:after {
  content: "";
  background-image: url("./images/Group 209.png"), url("./assests/bee-logo.gif");
  background-position: 0px 0, 13px 183px;
  background-size: contain, 65px 65px;
  position: absolute;
  height: 300px;
  width: 450px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  top: 22%;
  right: 0;
}

.testimnial-bg-after {
  position: relative;
}

.ing-text-wrap {
  max-width: 1200px;
  margin: 20px auto 0;
  display: grid;
  /* grid-template-columns: 28% 48% 18%; */
  gap: 40px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.lest-img img {
  width: 100%;
}

.honeybees-sec {
  background-image: url("./images/Group 173.png");
  width: 100%;
  padding: 0;
  margin: 0;
  /* margin-top: 150px; */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
}

.ing-text-wrap h1 {
  font-size: 50px;
}

.honeybees-sec .honeybees-title {
  font-size: 55px;
  margin-top: 50px;
}

.honeybees-sec h1 {
  font-size: 30px;
  text-align: center;
  color: #fffbf5;
  font-family: "Agrandir-GrandHeavy";
  text-transform: uppercase;
  margin: 0px;
}

.text-box-center h2 {
  color: #fffbf5;
  font-size: 28px;
  margin: 0;
}

.text-box-center h4 {
  color: #fffbf5;
  margin: 0;
}

.text-box-center p {
  color: #fffbf5;
  margin: 10px 0;
}

.img-wrap {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 60% 20%;
}

.fst-img {
  text-align: center;
}

.fst-img img {
  width: 80%;
}

.snd-img img {
  width: 60%;
}

.snd-img {
  text-align: center;
}

.trd-img img {
  width: 100%;
}

.about_footer {
  margin-top: -143px;
  z-index: 2;
  position: relative;
}

li.btn:hover {
  color: white;
}

.sendo-section {
  text-align: center;
  padding-top: 200px;
  max-width: 1100px;
  margin: auto;
}

.sendo-section h2 {
  font-family: "Agrandir-GrandHeavy";
  font-size: 55px;
  color: #fff;
  text-transform: uppercase;
  line-height: 49.5px;
  margin: 0%;
}

.sendo-section p {
  font-family: "AvenirNext";
  font-size: 18px;
  line-height: 19.8px;
  color: #fff;
}

.yourtitle,
.send {
  font-size: 18px;
  color: #29446d !important;
  line-height: 24px;
  font-family: "Agrandir-GrandHeavy";
  text-transform: capitalize;
}

.yourname,
.your-email,
.whats-in-your {
  box-sizing: border-box;
  font-size: 18px;
  color: #29446d !important;
  height: 40px;
  /* line-height: 28px; */
  font-family: "AvenirNext" !important;
  text-transform: capitalize;
  padding-left: 20px;
  overflow: hidden;
}

.blocks_section {
  width: 100%;
  height: 100%;
  background: #050021;
  min-height: 100vh;
}

.blocks {
  display: flex;
  flex-direction: column;
}

.block {
  width: 100%;
  min-height: 300px;
  background-size: cover;
  position: relative;
  border-radius: 50px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.block:nth-child(1) {
  background: url("./assests/people.png");
  background-size: cover;
  margin-bottom: 52px;
}

.block:nth-child(2) {
  background: url("./assests/secondblock.png");
  background-size: cover;
  margin-bottom: 64px;
}

.block:nth-child(3) {
  background: url("./assests/honeycomb.png");
  background-size: cover;
}

.block:nth-child(1) .overlay {
  background: #ee7430;
}

.block:nth-child(2) .overlay {
  background: #3061ab;
}

.block:nth-child(3) .overlay {
  background: #eeaf30;
}

.block .overlay {
  width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 50px;
  cursor: pointer;
  /* transition: all ease-in-out 0.4s; */
  /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); */
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: hard-light;
}

.block:hover .overlay {
  opacity: 0.8;
}

.block .overlay .overlay_icon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.block .overlay .overlay_icon img {
  /* max-width: 100px; */
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 0;
}

.block:hover .overlay .overlay_icon {
  display: none;
}

.block .overlay .overlay_icon:hover {
  opacity: 0.3;
  transition: all ease-in-out 0.4s;
}

.block .overlay:hover .overlay_icon img {
  opacity: 0;
  transition: all ease-in-out 0.6s;
}

.block .overlay:hover .overlay_icon marquee {
  opacity: 0;
  transition: all ease-in-out 0.6s;
}

.marquee_text {
  width: 100%;
}

.marquee_text marquee {
  color: transparent;
  font-size: 30px;
  outline: #29446d;
  -webkit-text-stroke: 2px #ffffff;
  text-transform: uppercase;
  text-stroke: 2px #ffffff;
  -webkit-text-stroke: 2px #ffffff;
  letter-spacing: 0px;
  font-family: "Agrandir-GrandHeavy" !important;
  width: 100%;
  margin: 0;
}

.block_content_container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* transition: all ease-in-out 0.6s; */
  /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); */
  border: 12px solid transparent;
  cursor: pointer;
  /* pointer-events: none; */
  border-radius: 50px;
  row-gap: 8px;
}

.block:hover .block_content_container {
  overflow: hidden;
  opacity: 1;
  /* transition: all ease-in-out 0.6s; */
  border: 12px solid white;
  border-radius: 50px;
}

.block:hover:nth-child(1) .block_content_container {
  box-shadow: -14px 14px 0px 0px #ee7430;
  -webkit-box-shadow: -14px 14px 0px 0px #ee7430;
  -moz-box-shadow: -14px 14px 0px 0px #ee7430;
}

.block:hover:nth-child(2) .block_content_container {
  box-shadow: -14px 14px 0px 0px #3061ab;
  -webkit-box-shadow: -14px 14px 0px 0px #3061ab;
  -moz-box-shadow: -14px 14px 0px 0px #3061ab;
}

.block:hover:nth-child(3) .block_content_container {
  box-shadow: -14px 14px 0px 0px #eeaf30;
  -webkit-box-shadow: -14px 14px 0px 0px #eeaf30;
  -moz-box-shadow: -14px 14px 0px 0px #eeaf30;
}

.block_content {
  max-width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  color: white;
  text-align: center;
  /* pointer-events: none; */
  cursor: pointer;
}

.block_content h3 {
  font-size: 30px;
  font-family: "AvenirNext";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 90%;
  margin-bottom: 24px;
  margin: 0;
  line-height: 24px;
}

.block_content p {
  font-family: "AvenirNext";
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

/* Button */

.button-74 {
  background-color: #fbeee0;
  border: 4px solid #eeaf30;
  border-radius: 30px;
  box-shadow: -9px 10px #3061ab;
  /* Changed box-shadow values */
  color: #29446d;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 16px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: GrandHeavy, Arial, sans-serif;
  margin-top: 8px;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: -2px 2px 0 #3061ab;
  /* Changed box-shadow values */
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 20px;
  }
}

/* Form Design */

.drop-your-question-form {
  max-width: 600px;
  margin: auto;
  padding: 0;
}

/* About Page Pixel Perfect */

.img-box:nth-child(1) {
  max-width: 270px;
  max-height: 270px;
}

.img-box:nth-child(1) img {
  max-width: 270px;
  max-height: 270px;
}

.img-box:nth-child(2) {
  max-width: 230px;
  max-height: 230px;
}

.img-box:nth-child(2) img {
  max-width: 230px;
  max-height: 230px;
}

.corporate-sec .img-box {
  max-width: 245px;
  max-height: 245px;
}

.corporate-sec .img-box img {
  max-width: 245px;
  max-height: 245px;
}

.his-text-box h2 {
  margin: 0;
  font-family: GrandHeavy, Arial, sans-serif;
}

.his-text-box p {
  margin: 0;
  font-family: "AvenirNext" !important;
}

.last-sec {
  max-width: 800px;
  margin: auto;
}

.last-sec h1 {
  line-height: 50px;
}

.honeyBeeTeamReview {
  /* max-width: 540px; */
}

.honeyBeeTeamReview h2 {
  font-family: GrandHeavy, Arial, sans-serif;
}

.honeyBeeTeamReview h4 {
  font-family: "AvenirNext" !important;
}

.honeyBeeTeamReview p {
  font-family: "AvenirNext" !important;
}

.testimonial_slide blockquote {
  font-family: "AvenirNext";
  color: #1558bc;
}

.music-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.music-icon .lottie-sound {
  display: none;
}

.music-icon.playing .lottie-sound {
  display: block;
}

.music-icon.playing .mute-music {
  display: none;
}

.lottie-sound {
  width: 30px;
  height: 30px;
}
