
body {
margin: 0;
padding: 0;
}



.fearless_background {
align-items: center;
flex-direction: column;
display: flex;
}
.timer h2 {
margin-bottom: 5px;
color: white;
font-family: Agrandir;
font-size: 55px;
font-weight: 800;
line-height: 49px;
letter-spacing: 0em;
text-align: center;
}
.fearless_main {
background-repeat: no-repeat !important;
background-size: cover !important;
background: url('images/Group203.png');
padding-bottom: 100px;
}

.top_section {
height: 100vh;
justify-content: center;
width: 100%;
align-items: center;
flex-direction: column;
display: flex;
background-position: -510px !important;
background-repeat: no-repeat !important;
/* padding: 220px 0; */
background: url('images/fence2.png');
background-size: cover;
}
.custom_container {
width: 950px !important;
}
h2.fearless_heading {
margin-bottom: 0;
color: white;
font-family: Agrandir;
font-size: 55px;
font-weight: 800;
line-height: 49px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
}
.fearless_heading span {
-webkit-text-stroke: 1px white;
color: transparent;
}
p.name {
color: white;
font-family: Avenir Next;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.02em;
text-align: center;
margin: 0;
}
.timer.custom_container.container {
align-items: center;
flex-direction: column;
display: flex;
}
.timer p {
max-width: 500px;
color: white;
font-family: Avenir Next;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.02em;
text-align: center;
}
.text_area h2 {
word-spacing: 4px;
margin-bottom: 1px;
color: white;
font-family: Agrandir;
font-size: 40px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}
.text_area p {
color: #FFFBF5;
font-family: Avenir Next;
font-size: 18px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
}
.text_box.container.custom_container {
padding-bottom: 40px;
padding-top: 40px;
}
.col-md-8.text_area {
padding-top: 25px;
}
.col-md-4.imag_text {
margin-left: -25px;
}
.row .text_row {
justify-content: center;
display: flex;
}
.imag_text p {
margin-bottom: 0;
left: 60px;
font-family: Avenir Next;
font-size: 18px;
font-weight: 900;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
width: 45%;
top: 8px;
position: absolute;
}
.row.text_row {
justify-content: center;
display: flex;
}
.fearless_bottom_section {
padding: 10% 0 10% 0;
}
.fearless_bottom_text p {
left: 65px;
width: 75%;
font-family: Avenir Next;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
position: absolute;
top: 20px;
}
.blue {
color:#29446D;
}
.dog_section.col-md-12 {
padding-top: 20px;
gap: 10px;
align-items: center;
display: flex;
}
.row.fearless_bottom {
align-items: center;
flex-direction: column;
display: flex;
}
.dog_section p {
font-family: Avenir Next;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
color: white;
}
input#inputField {
margin-top: 20%;
font-family: Avenir Next;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
border-radius: 25px;
padding: 16px;
width: 460px;
}
button.fearless_btn {
bottom: 14px;
font-family: Agrandir;
font-size: 18px;
font-weight: 800;
line-height: 20px;
letter-spacing: 0;
text-align: center;
border: 0;
color: white;
background: #EEAF30;
border-radius: 20px;
padding: 12px 20px;
/* top: 1px; */
right: 8%;
position: absolute;
}
input#inputField::placeholder {
color: #29446D;
}
@font-face {
font-family: 'Agrandir-TextBold'; /* Choose a name for your font */
src: url('font/Agrandir-GrandHeavy.otf') format('woff');
/* Update the path based on your file structure and font format */
}
@font-face {
font-family: 'AvenirNextlight'; /* Choose a name for your font */
src: url('font2/AvenirNextlightLTPro-Bold.otf') format('woff');
/* Update the path based on your file structure and font format */
}
@font-face {
font-family: 'AvenirNextlightlight'; /* Choose a name for your font */
src: url('font2/AvenirNextlightLTPro-Regular.otf') format('woff');
/* Update the path based on your file structure and font format */
}

main{
background: url('asssets/flowerBG1.png');/* Adjust the path accordingly */
background-size: cover;
background-repeat: no-repeat;
width: 100%;
background-color: #EFB644 !important;
height: 1180px;
}
main .container-fluid{
background: url('asssets/Property\ 1=Variant3.png');
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 1180px;
background-position: -200px 10px !important;
}
.widthfull{
width: 100% ;
padding-top: 20px;
}
.left{
position: absolute;
right: 20px !important;
}
.banenrtext{
font-family: 'Agrandir-TextBold';
text-transform: uppercase;
color: #29446D;

width: 100%;
}
.banenrtext .heading2{
width: 800px;
padding-top: 250px;
font-size: 55px;
line-height: 49.5px;
margin: 0 auto;
}
.flex p{
font-family: 'AvenirNextlight' !important;
width: 100%;
font-size: 18px;
line-height: 19.8px;
font-weight: 600;
color: #29446D;
}
.flex{
margin-right: auto !important;
margin-left: auto !important;
}
navbar{
position: fixed;
width: 100%;
bottom: 0px;
}
navbar .col-12 {
list-style: none;
justify-content: space-between;
display: flex;
max-width: 100%;
margin-left: auto;
margin-right: auto;

}
navbar .col-12 div{
display: flex;  
width: 100%;
background-color: #ffffff4d;
justify-content: space-between;
margin: auto;
border-radius: 25px;
margin-right:50px;
}
navbar li{
align-self: center;
padding:12px 20px;
font-family: 'Agrandir-TextBold';
text-transform: uppercase;
color: #29446D;
font-size: 18px !important;
font-weight: 800;
line-height: 19.8px;
text-decoration: none;
text-align: center;
}
navbar li:hover{
background-color: #fff;
border-radius: 25px;
}
li:last-child{
background-color: #FF6464 !important;
border-radius: 25px;
}
navbar li img{
width: 150px;
}
navbar a,navbar a:hover{
text-decoration: none;
color: #29446D;
}

@media screen and (max-width:767px){
main .container-fluid{
padding:0 20px;
}

main .container-fluid{
background: url('asssets/Property\ 1=Variant3.png');
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 1180px;
background-position: -300px 10px !important;
}
.banenrtext .heading2{
width: 100%;
padding-top: 100px;
font-size: 32px;
line-height: 49.5px;
margin: 0 auto;
}
}

footer{
margin-top: -42px;
padding-top: 100px !important;
border-radius: 45px 45px 0 0 !important;
background:url('asssets/footeroverl.png') !important;
background-size: cover !important;
background-position: center !important;
background-repeat: no-repeat !important;
color: #fff;
font-family: 'Agrandir-TextBold';
text-transform: uppercase;
font-size: 30px;
line-height: 27px;
text-align: center;
}
.inform{
display: flex;
justify-content: center;
}
.inform form{
width: 600px;
}
footer h3{
width: 850px;
margin-left: auto;
margin-right: auto;
}
.formfooter select,.formfooter input,.formfooter button{
border-radius: 25px;
padding: 7px 12px;
font-size: 18px;
text-transform: capitalize;
}
.formfooter button{
text-transform: uppercase; 
}
.formfooter select:focus,.formfooter input:focus{
outline: none;
}
.formfooter button{
border: 5px solid #EEAF30;
}
.formend input{
border:0px;
}
.formend{
background-color: #fff;
width: fit-content;
border-radius: 25px;
display: grid;
justify-content: center !important;
}
.select{
width: 20%;
margin-right: 12px;
}
.name{
width: 80%;
font-family: 'AvenirNextlightlight' !important;
font-size: 12px;
}
.message{
width: 80%;
font-family: 'AvenirNextlightlight' !important;
}
.email{
width: 100%;
font-family: 'AvenirNextlightlight' !important;
font-size: 12px;
}
.socialicondiv{
position: absolute;
bottom: 0%;
left: 50%;
margin-bottom: 12px;
}
.socialicondiv img{
margin: 0 7px;
}
.fontfooterend{
font-family: 'AvenirNextlightlight' !important;
font-size: 12px;
line-height: 13.2px;
font-weight: 100 !important;
width: 600px;
margin-left: auto;
margin-right: auto;
}
.custom_container h2{
font-family: 'Agrandir-TextBold';
text-transform: uppercase;
}
.custom_container .name{
font-family: 'AvenirNext' !important;
font-size: 18px !important;
font-weight: 400 !important;
}
.exportfence{
display: none;
}