.swiper {
  max-width: 1000px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  margin-top: 50px;
  padding-bottom: 150px;
}

.swiper-wrapper {
  /* height: 350px; */
  /* width: 350px; */
  /* overflow: hidden; */
  top: 50px;
}

.swiper-pagination {
  bottom: auto !important;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide-prev {
  visibility: hidden;
}

.swiper-slide-next {
  visibility: hidden;
}

.swiper-slide-item {
  display: flex;
}

.swiper-slide-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  /* margin: 20px; */
}

.swiper-slide-active img {
  border: 5px solid #fff;
  border-radius: 50px;
  box-shadow: -8px 8px 0 0 #3061ab;
}

.pagination-image {
  width: 50px;
  height: 50px;
  background: none;
  margin: 0px 10px !important;
}

.pagination-image img {
  width: 50px;
  height: 50px;
  background-size: 150%;
  background-position: center;
  border-radius: 100px;
  border: 3px solid #fff;
}

@media (max-width: 768px) {
  .swiper-wrapper {
    top: 120px;
  }
  .swiper-slide-img {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .swiper {
    margin: 50px auto 20px;
    padding-bottom: 50px;
  }

  .swiper-slide-item {
    flex-direction: column;
  }

  .swiper-slide img {
    width: 250px;
    height: 250px;
  }

  .swiper-wrapper {
    /* padding-bottom: 150px; */
    top: 180px;
  }

  .pagination-image {
    width: 50px;
    height: 50px;
    margin: 5px 10px !important;
  }
  .pagination-image img {
    width: 50px;
    height: 50px;
  }
}
