@keyframes floatInAndColorChange3 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    color: transparent;
    visibility: visible;
  }
  20% {
    opacity: 1;
    transform: translateY(0);

    color: transparent;
    visibility: hidden;
    outline: #29446d;
    -webkit-text-stroke: 3px #fff;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes amiStrokText {
  0% {
    color: #fffbf5;
    text-shadow: 0 0 0 #fffbf5, 0 0 0 #fffbf5, 0 0 0 #fffbf5, 0 0 0 #fffbf5;
    -webkit-text-stroke: none;
  }
  100% {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fffbf5;
    text-shadow: none;
  }
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes revealLine {
  0% {
    width: 0%; /* Initial width, fully hidden */
  }
  100% {
    width: 100%; /* Full width, fully revealed */
  }
}

@keyframes revealVerticalLine {
  0% {
    height: 0%; /* Initial height, fully hidden */
  }
  100% {
    height: calc(100%); /* Full height, fully revealed */
  }
}

@keyframes grayMask {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes floatIn-aboutus {
  0% {
    display: block;
    opacity: 0;
    transform: translateY(-50px);
    visibility: visible;
  }
  20% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #2976ed;
}

.gray-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  animation: grayMask 0.5s ease-in-out 2.5s forwards;
}

.section-wrapper {
  animation: backgroundColorChange 2s ease-in-out 2s forwards;
  position: relative;
  background: linear-gradient(180deg, #2976ed 0%, #2a456e 100%);
  padding-bottom: 150px;
}

.section-wrapper-bg {
  mix-blend-mode: overlay;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../img/AboutUs_BG.png);
  background-size: cover;
}

.about-history-marquee {
  margin: 50px 0 150px;
}

.about-Honeybees-marquee {
  position: absolute;
  top: -80px;
}

.hero-hed-sec {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.lottie-hive-content {
  transform: translateY(-10vh);
  height: 120vh;
  position: absolute;
  width: 100%;
  top: 0px;
  mix-blend-mode: color-burn;
}

.about-hero-bee {
  position: absolute;
  bottom: 10%;
}

.gtco-testimonials-container {
  max-width: 1440px;
  margin: 0 auto;
}

.testimonial-quote {
  position: relative;
}
.testimonial-quote-text {
  font-family: "AvenirNext";
  color: #29446d;
  position: absolute;
  transform: translate(-50%, -50%);
}
.testimonial-item-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonial-item-logo img {
  width: 40px !important;
  height: 40px !important;
  border: 2px solid #eeaf30;
  border-radius: 100px;
  overflow: hidden;
}
.testimonial-item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-item-title-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Agrandir-GrandHeavy";
  font-size: 12px;
  color: white;
}
.testimonial-item-title-title1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "AvenirNext" !important;
  font-size: 8px;
  color: white;
}
.testimonial-item-title-title2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "AvenirNext" !important;
  font-size: 8px;
  color: white;
}

.testimonial-quote-image-large {
  display: block !important;
  height: 130px;
}
.testimonial-quote-text {
  font-size: 12px;
  top: 40%;
  width: 90%;
  left: 50%;
}
.testimonial-quote-image-small {
  display: none !important;
}
.history-sec .full-text {
  display: block;
}
.history-sec .mobile-text {
  display: none;
}

.his-text-box {
  display: flex;
  padding: 10px 30px 0px 0px;
  flex-direction: column;
  opacity: 0;
}

.his-text-box.show {
  animation: fadeInOpacity 1s ease forwards;
}

.his-mobile-img {
  position: relative;
  z-index: 10;
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

.his-line-img {
  position: absolute;
  top: 60px;
  width: 0%;
  overflow: hidden;
}

.his-line-img img {
  width: 90vw;
}

.his-line-img.line-mask.show {
  animation: revealLine 2s ease forwards; /* Adjust animation duration */
  transform-origin: left center;
}

.his-mobile-line-img {
  display: none;
  position: absolute;
  width: 59px;
  height: 0%;
  top: 14px;
  left: -41px;
  overflow: hidden;
}

.his-mobile-line-img.line-mask.show {
  animation: revealVerticalLine 2s ease forwards; /* Adjust animation duration */
  transform-origin: top center;
}

.his-text {
  padding-top: 80px;
}

.his-text h2 {
  font-size: 30px;
}

.his-text h5 {
  margin: 5px 0px 0px 0px;
  font-family: "Agrandir-GrandHeavy";
  font-size: 18px;
}

.his-text ul {
  margin: 5px 0px;
  padding-left: 30px;
  font-size: 14px;
}

.hero-hed-sec-text-caption {
  animation: floatInAndColorChange3 2s ease-in-out 3s forwards;
  font-size: 55px;
  color: white;
  line-height: 60px;
  font-family: "Agrandir-GrandHeavy";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  outline: #29446d;
  /* -webkit-text-stroke: 3px #fff; */
  text-shadow: none;
  opacity: 0;
}

.animate_strok_text {
  animation: amiStrokText 1s ease-in-out forwards;
}

.testimnial-sec img {
  width: 175px;
  height: 175px;
  border-radius: 100px;
  border: 4px solid white;
}

.text-box-center {
  align-self: baseline;
}

.honeyBeeTeamReview {
  color: white;
}

.honeyBeeTeamReview h2 {
  font-size: 30px;
  font-family: "Agrandir-GrandHeavy";
  margin: 15px 0px 0px;
}

.honeyBeeTeamReview h4 {
  font-size: 18px;
  margin: 0px 0px 5px;
}

.honeyBeeTeamReview p {
  line-height: 1.2;
  font-size: 14px;
  margin: 20px 0px 10px;
}

@media (max-width: 1200px) {
  .hero-hed-sec h1 {
    font-size: 45px;
  }
  .sendo-section h2 {
    font-size: 35px;
  }
  .testimnial-sec h1 {
    font-size: 45px;
  }
  .honeybees-sec h1 {
    font-size: 45px;
  }
}

@media (max-width: 900px) {
  .hero-hed-sec {
    padding: 0px;
  }
  .lottie-hive-content {
    transform: scale(2);
  }

  .corporate-sec {
    flex-direction: column;
    max-width: 500px;
  }

  .wealth-sec {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .history-sec h1 {
    font-size: 45px;
  }

  .his-text {
    padding-top: 8px;
  }

  .his-line-img {
    display: none;
  }

  .his-img {
    display: none;
  }

  .his-mobile-line-img {
    display: block;
    left: -27px;
  }

  .box-wrap {
    display: flex !important;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: none;
    padding-top: 0px;
  }

  .his-text-box {
    padding: 0px 0px 30px 0px;
    flex-direction: row;
  }

  .testimnial-bg-after:after {
    top: 70%;
    right: -100px;
  }
}

@media (max-width: 800px) {
  .lottie-hive-content {
    transform: scale(2.2);
  }
  .testimonial-quote-image-small {
    display: block !important;
    height: 150px;
  }
  .testimonial-quote-image-large {
    display: none !important;
  }
  .testimonial-quote-text {
    font-size: 12px;
    top: 45%;
    width: 90%;
    left: 55%;
  }
}

@media (max-width: 600px) {
  .lottie-hive-content {
    transform: scale(2.4);
  }
  .testimonial-quote-text {
    font-size: 12px;
    top: 45%;
    width: 80%;
    left: 50%;
  }
  .testimonial-quote-image-small {
    display: block !important;
    height: 170px;
  }
  .gtco-testimonials-container {
    max-width: 250px;
    margin: 0 auto;
  }

  .testimonial-quote-image-large {
    display: none !important;
  }
  .owl-carousel.owl-drag .owl-item.active {
    transform: scale(1) !important;
  }
  .testimonial-item-logo {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .lottie-hive-content {
    transform: scale(2.8);
  }
  .hero-hed-sec h1 {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
  }
  .hero-hed-sec p {
    font-size: 14px;
  }
  .about-hero-text {
    max-width: 300px;
    margin: auto;
  }
  .hero-hed-sec-gif {
    width: 85px;
    margin-left: 10px;
  }
  /* .hero-hed-sec-img {
    margin-top: -50px;
    width: 80%;
    margin-left: 20px;
  } */
  .sendo-section {
    padding-top: 50px;
  }
  .sendo-section h2 {
    font-size: 30px;
  }
  .sendo-section h4 {
    font-size: 20px;
  }
  .sendo-section p {
    font-size: 14px;
  }
  .corporate-sec {
    max-width: 300px;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    font-size: 14px;
  }
  .teg-btn ul {
    justify-content: center;
  }
  .teg-btn ul li {
    font-size: 12px;
    padding: 5px 25px;
  }

  .wealth-sec {
    max-width: 300px;
  }
  .text-box-right h1 {
    font-size: 20px;
  }
  .text-box-right p {
    font-size: 14px;
  }
  .teg-btn-right ul {
    justify-content: start;
    flex-flow: wrap;
  }
  .teg-btn-right ul li {
    font-size: 12px;
    padding: 5px 25px;
    min-width: fit-content;
    position: relative;
  }
  .text-box-right {
    text-align: start;
  }
  .img-box {
    margin: auto;
  }
  .wealth-bg-after::after {
    display: none;
  }
  .history-sec h1 {
    font-size: 30px;
    margin: auto;
  }
  .history-sec .full-text {
    display: none;
  }
  .history-sec .mobile-text {
    display: block;
  }
  .his-text-box h2 {
    font-size: 20px;
    font-family: "Agrandir-GrandHeavy";
  }
  .his-text-box h5 {
    font-size: 14px;
  }
  .his-text-box ul {
    padding-left: 20px;
    font-size: 12px;
  }
  .his-mobile-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .his-mobile-line-img {
    left: -41px;
  }

  .about-history-sec {
    overflow-x: auto;
    margin-top: 10px;
    padding: 10px 0px;
  }
  .his-img img {
    width: 260%;
  }
  .testimnial-sec h1 {
    font-size: 30px;
    line-height: normal;
  }
  .testimnial-sec {
    max-width: 300px;
    width: 100%;
  }
  .testimnial-sec p {
    font-size: 14px;
  }
  .testimnial-bg-after:after {
    top: 70%;
    left: 40%;
  }

  .about-Honeybees-marquee {
    top: -40px;
  }

  .honeybees-sec .honeybees-title {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
  }

  .corporate-sec .text-box h1 {
    font-size: 20px;
  }

  .wealth-bg-after .text-box-right h1 {
    font-size: 20px;
  }

  .honeybees-sec h1 {
    font-size: 20px;
    max-width: 300px;
    /* margin: 200px auto 0px; */
    line-height: 1;
    text-align: left;
  }

  .honeyBeeTeamReview h2 {
    font-size: 20px;
  }
  .honeyBeeTeamReview h4 {
    font-size: 14px;
  }
  .honeyBeeTeamReview p {
    text-align: center;
    font-size: 12px;
    line-height: 1.1;
  }
}

.animate_scale_up {
  animation: scaleUp 0.5s ease-in-out 0s forwards;
}

.founder-message-bubble {
  position: absolute;
  top: 35%;
  right: 250px;
  margin-left: 0px;
  margin-top: 0px;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 119px;
  transform: rotate(3deg);
}

@media (max-width: 900px) {
  .founder-message-bubble {
    top: 85%;
    right: 150px;  
    width: 175px;
    height: 80px;  
    margin-left: 0px;
    transform: rotate(-5deg);
  }
}

@media (max-width: 500px) {
  .founder-message-bubble {
    top: 90%;
    left: 38%;
  }
}

.founder-message-bubble img {
  position: absolute;
}

.founder-message-bubble-text {
  z-index: 2;
  transform: rotate(-5deg);
  display: block;
  font-size: 18px;
  color: #29446d;
  font-family: "AvenirNext-Heavy";
  margin-top: -24px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .founder-message-bubble-text {
    font-size: 14px;
  }
}

.aboutus-fixed-container {
  position: relative;
  height: 300vh;
  /* background: linear-gradient(180deg, #FFE8BA00 20%, #FFE8BACD  33.3%),
              linear-gradient(180deg, #efb12700 6.67%, #efb127FF  33.3%); */
}

.remove-background {
  background: none;
}

.aboutus-fixed-container-item {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(180deg, #FFE8BA00 20%, #FFE8BACD 100%); */
}

.fadeIn .text-1 {
  animation: floatIn-aboutus 2s ease-in-out forwards;
}

.fadeIn .text-2 {
  animation: floatIn-aboutus 2s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.2s ease-in-out forwards;
}

.aboutus-banner-text h3 {
  font-family: "Agrandir-GrandHeavy";
  font-size: 55px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  margin: 0%;
  opacity: 0;
}

@media (max-width: 900px) {
  .aboutus-banner-text h3 {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .aboutus-banner-text h3 {
    max-width: 310px;
    font-size: 30px;
  }
}

.journey-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute !important;
  left: 50%;
  bottom: 50vh;
  transform: translate(-50%, 50%);
  background: linear-gradient(180deg, #7BD7FF00 0%, #7BD7FF99 100%), linear-gradient(180deg, #2976ed00 0%, #2976edff 100%);
}

.journey-text-background {
  height: 100vh;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

#managements_wrapper {
  background: linear-gradient(180deg, #7BD7FF99 0%, #926DC1 18%, #2AA499 50%, #E28937 80%);
}

.risk-management-wrapper, .wealth-management-wrapper, .corporate-solution-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.risk-management-wrapper .text-box, .wealth-management-wrapper .text-box, .corporate-solution-wrapper .text-box {
  text-align: center;
}

/* @media (max-width: 767px) {
  .risk-management-wrapper .text-box, .wealth-management-wrapper .text-box, .corporate-solution-wrapper .text-box {
    text-align: left;
  }
} */

/* .risk-management-wrapper {
  background: linear-gradient(180deg, #FFE8BACD 0%, #926DC1FF 100%);
}

.wealth-management-wrapper {
  background: linear-gradient(180deg, #FFE8BACD 0%, #2AA499FF 100%);
}

.corporate-solution-wrapper {
  background: linear-gradient(180deg, #FFE8BACD 0%, #A56326FF 100%);
} */

.managements-banner-bee {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 40%;
  opacity: 0;
}

.managements-banner-bee.fadeIn {
  animation: floatIn-aboutus 1s ease-in-out forwards;
}

.managements-bee-gif {
  position: absolute;
  top: 95%;
  right: -45%;
  width: 130px;
}

@media (max-width: 767px) {
  .managements-banner-bee {
    display: none;
  }
  .managements-bee-gif {
    display: none;
  }
}

.managements-show {
  opacity: 0;
}

.managements-show.fade-in-up {
  animation: fadeInUp 0.5s ease-in-out 0s forwards;
  /* animation-delay: 1s; */
}
