.about-history-marquee {
  margin: 150px 0;
}

.about-Honeybees-marquee {
  position: absolute;
  top: -50px;
}

.hero-hed-sec {
  padding: 300px 0px 50px;
  position: relative;
}

.lottie-hive-content {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0px;
  mix-blend-mode: color-burn;
}

.about-hero-bee {
  position: absolute;
}

.gtco-testimonials-container {
  max-width: 1440px;
  margin: 0 auto;
}

.testimonial-quote {
  position: relative;
}
.testimonial-quote-text {
  font-family: "AvenirNext";
  color: #29446d;
  position: absolute;
  transform: translate(-50%, -50%);
}
.testimonial-item-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonial-item-logo img {
  width: 40px !important;
  height: 40px !important;
  border: 2px solid #eeaf30;
  border-radius: 100px;
  overflow: hidden;
}
.testimonial-item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-item-title-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Agrandir-TextBold";
  font-size: 12px;
  color: white;
}
.testimonial-item-title-title1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "AvenirNext" !important;
  font-size: 8px;
  color: white;
}
.testimonial-item-title-title2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "AvenirNext" !important;
  font-size: 8px;
  color: white;
}

.testimonial-quote-image-large {
  display: block !important;
  height: 130px;
}
.testimonial-quote-text {
  font-size: 12px;
  top: 40%;
  width: 90%;
  left: 50%;
}
.testimonial-quote-image-small {
  display: none !important;
}
.history-sec .full-text {
  display: block;
}
.history-sec .mobile-text {
  display: none;
}

@media (max-width: 1200px) {
  .hero-hed-sec h1 {
    font-size: 45px;
  }
  .sendo-section h2 {
    font-size: 45px;
  }
  .testimnial-sec h1 {
    font-size: 45px;
  }
  .honeybees-sec h1 {
    font-size: 45px;
  }
}

@media (max-width: 900px) {
  .hero-hed-sec {
    padding: 0px;
  }
  .lottie-hive-content {
    transform: scale(2);
  }

  .about-hero-text {
    padding: 200px 20px;
  }

  .corporate-sec {
    flex-direction: column;
    max-width: 500px;
  }

  .wealth-sec {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .history-sec h1 {
    font-size: 45px;
  }
}

@media (max-width: 800px) {
  .lottie-hive-content {
    transform: scale(2.2);
  }
  .testimonial-quote-image-small {
    display: block !important;
    height: 150px;
  }
  .testimonial-quote-image-large {
    display: none !important;
  }
  .testimonial-quote-text {
    font-size: 12px;
    top: 45%;
    width: 90%;
    left: 55%;
  }
}

@media (max-width: 600px) {
  .lottie-hive-content {
    transform: scale(2.4);
  }
  .testimonial-quote-text {
    font-size: 12px;
    top: 45%;
    width: 80%;
    left: 50%;
  }
  .testimonial-quote-image-small {
    display: block !important;
    height: 170px;
  }
  .gtco-testimonials-container {
    max-width: 250px;
    margin: 0 auto;
  }

  .testimonial-quote-image-large {
    display: none !important;
  }
  .owl-carousel.owl-drag .owl-item.active {
    transform: scale(1) !important;
  }
  .testimonial-item-logo {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .lottie-hive-content {
    transform: scale(2.8);
  }
  .hero-hed-sec h1 {
    font-size: 30px;
    line-height: 1;
  }
  .hero-hed-sec p {
    font-size: 14px;
  }
  .about-hero-text {
    padding: 200px 0px 100px;
    max-width: 300px;
    margin: auto;
  }
  .hero-hed-sec-gif {
    width: 50px;
    margin-left: -135px;
  }
  .hero-hed-sec-img {
    margin-top: -50px;
    width: 80%;
    margin-left: 20px;
  }
  .sendo-section h2 {
    font-size: 30px;
  }
  .sendo-section p {
    font-size: 14px;
  }
  .corporate-sec {
    max-width: 300px;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    font-size: 14px;
  }
  .teg-btn ul li {
    font-size: 10px;
    padding: 2px 25px;
  }

  .wealth-sec {
    max-width: 300px;
  }
  .text-box-right h1 {
    font-size: 20px;
  }
  .text-box-right p {
    font-size: 14px;
  }
  .teg-btn-right ul {
    justify-content: start;
    flex-flow: wrap;
  }
  .teg-btn-right ul li {
    font-size: 10px;
    padding: 2px 25px;
    min-width: fit-content;
    position: relative;
  }
  .text-box-right {
    text-align: start;
  }
  .img-box {
    margin: auto;
  }
  .wealth-bg-after::after {
    display: none;
  }
  .history-sec h1 {
    font-size: 30px;
    margin: auto;
  }
  .history-sec .full-text {
    display: none;
  }  
  .history-sec .mobile-text {
    display: block;
  }  

  .box-wrap {
    width: fit-content;
    grid-template-columns: 60% 60% 60% 60%;
    background-image: none;
    padding-top: 0px;
  }
  .his-text-box h2 {
    font-size: 14px;
    font-family: "Agrandir-TextBold";
  }
  .his-text-box p {
    font-size: 14px;
  }

  .about-history-sec {
    overflow-x: auto;
    margin-top: 50px;
    padding: 10px 0px;
  }
  .his-img img {
    width: 260%;
  }
  .testimnial-sec h1 {
    font-size: 30px;
    line-height: normal;
  }
  .testimnial-sec {
    max-width: 300px;
    width: 100%;
  }
  .testimnial-sec p {
    font-size: 14px;
  }
  .testimnial-bg-after:after {
    top: 40%;
    left: 40%;
  }

  .about-Honeybees-marquee {
    top: -20px;
  }
  .honeybees-sec h1 {
    font-size: 30px;
    max-width: 300px;
    margin: 200px auto 0px;
    line-height: 1;
  }

  .honeyBeeTeamReview h2 {
    font-size: 20px;
  }
  .honeyBeeTeamReview h4 {
    font-size: 14px;
  }
  .honeyBeeTeamReview p {
    font-size: 12px;
  }
}
