@keyframes grayMask {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.lottie-career-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.lottie-career {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0px;
}

.gray-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  animation: grayMask 0.5s ease-in-out 1s forwards;
}

.scroll-down-content {
  text-align: center;
  visibility: hidden;
  animation: floatInAndColorChange 0.8s ease-in-out 2.9s forwards;
}

.hide-scroll-down {
  animation: hide 0.8s ease-in-out 8s forwards;
}

.career-Honeybees-marquee {
  position: relative;
  z-index: 1;
  margin-top: -50px;
}

.career-plans-marquee {
  position: absolute;
  top: -50px;
}

.image-section .right-section {
  align-self: center;
  flex-direction: row-reverse;
  padding: 100px 0;
}

.number-style {
  color: transparent;
  -webkit-text-stroke: 3px #29446d;
  -webkit-text-fill-color: transparent;
  text-shadow: none !important;
}

.career-item {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dedicat-mentor {
  background-image: url("../img/mentor.png");
}

.digital-ecosys {
  background-image: url("../img/digital.png");
}

.process-excel {
  background-image: url("../img/process.png");
}

.career-item-text {
  max-width: 600px;
  text-align: center;
}

@media (max-width: 767px) {
  .career-item-text {
    margin: 0 20px;
  }
}

.career-item-text h3 {
  font-size: 24px;
  font-family: "Agrandir-GrandHeavy";
  text-transform: uppercase;
  color: white;
}

.career-item-text p {
  font-size: 18px;
  font-family: "AvenirNext";
  color: white;
  font-weight: 600;
  line-height: 1;
}

.process-excel .career-item-text h3 {
  color: #29446d;
}

.process-excel .career-item-text p {
  color: #29446d;
}

.career-other-input {
  margin-left: 10px !important;
  box-shadow: none !important;
  font-size: 18px !important;
  margin-bottom: 0px !important;
  padding: 3px 10px !important;
}

@media (max-width: 767px) {
  .career-other-input {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    padding: 3px 10px !important;
  }
}

@media (max-width: 1200px) {
  .career-banner-text h3 {
    font-size: 45px;
  }

  .formsection h3 {
    font-size: 45px;
    line-height: normal;
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .lottie-career {
    transform: scale(2.5);
    top: 14%;
  }
  .image-section .row {
    flex-direction: column;
    max-width: 500px;
    margin: auto;
  }
  .career-dedicate-text {
    max-width: 100%;
  }
  .career-dedicate-img {
    max-width: 100%;
    text-align: center !important;
    margin-bottom: 50px;
  }

  .image-section .right-section {
    flex-direction: column;
  }

  .image-section .right-section .career-dedicate-text {
    text-align: left !important;
  }
  .formsection .form .col-12 {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .career-bg1 {
    background-size: 200%;
  }
  .career-bg2 {
    background: url("../../asssets/careerbees1.png"),
      url("../../asssets/careerbees2.png"), url("../../asssets/careerbees3.png"),
      url("../../asssets/careerbees4.png"), url("../../asssets/careerbees5.png");
    /* height: max-content; */
    background-repeat: no-repeat;
    visibility: hidden;
    animation: careerAni 2s ease-in-out 0.5s forwards;
    background-size: 200% !important;
    background-position: center top !important;
  }
  .career-banner-text h3 {
    font-size: 30px;
    line-height: 1;
    max-width: 300px;
  }
  .career-banner-text p {
    font-size: 14px;
  }
  .career-banner-text.misc:before {
    right: -50vw;
    bottom: -50vh;
    transform: scale(0.7);
  }
  .career-banner-text button {
    margin-top: 30px !important;
  }
  .career-dedicate-text {
    max-width: 300px;
    padding: 0px;
    margin: auto;
  }
  .career-banner-text img {
    transform: scale(0.7);
  }
  .image-section {
    background-position: center;
  }
  .image-section h3 {
    font-size: 20px;
    line-height: 1;
  }
  .image-section p {
    font-size: 14px;
    line-height: 1;
  }

  .career-dedicate-img img {
    max-width: 235px;
  }

  .career-plans-marquee {
    top: -10px;
  }

  .formsection {
    padding: 200px 0px;
  }
  .formsection h3 {
    font-size: 30px;
    line-height: 1;
    max-width: 300px;
    overflow-wrap: break-word;
  }

  .formsection .career-form-content {
    max-width: 300px;
  }

  .formsection label {
    font-size: 12px;
  }
  .formsection input {
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 0px;
  }
  .input-phone-container span {
    font-size: 12px;
    top: 16px;
  }
  .input-phone-container input[type="tel"] {
    padding-left: 40px;
  }
  .formsection .form .col-12 {
    margin-top: 20px !important;
  }

  .career-form-content input[type="radio"] {
    margin-top: 3px;
  }

  .career-form-content .col-12.label {
    font-size: 12px;
  }

  .formsection button {
    width: 110px;
    height: 25px;
    border: 2px solid #eeaf30;
    padding: 2px 0px;
    font-size: 12px;
  }

  .number-style {
    -webkit-text-stroke: 2px #29446d;
  }
}
