.events-inner {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
}

.caption-div {
    margin-top: 232px;
    margin-bottom: 100px;
    max-width: 800px;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1s;
}
@media screen and (max-width: 991px) {
    .caption-div {
        margin-top: 33vh;
        margin-bottom: 20vh;
    }
}

.honey-dark-text {
    color: #29446D !important;
}

.events-title {
    font-family: "Agrandir-GrandHeavy";
    font-weight: 800;
    font-size: 55px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFBF5;
}
@media screen and (max-width: 991px) {
    .events-title {
        font-size: 30px;
    }
}

.events-sub-title {
    font-family: "Agrandir-GrandHeavy";
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFBF5;
}
@media screen and (max-width: 991px) {
    .events-sub-title {
        font-size: 20px;
    }
}

.events-desc {
    font-family: 'AvenirNext';
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #FFFBF5;
}
@media screen and (max-width: 991px) {
    .events-desc {
        font-size: 14px;
    }
}

.event-item {
    opacity: 0;
}

.event-item.fade-in-up {
    animation: fadeInUp 1s ease-in-out forwards;
    /* animation-delay: 1s; */
}

.events-img-wrapper {
    width: fit-content;
    height: fit-content;
    max-width: 90vw;
    margin: 10px;
    border: 3px solid #FFFBF5;
    border-radius: 55px;
    overflow: hidden;
}
@media screen and (max-width: 767px) {
    .events-img-wrapper {
        border-radius: 35px;
        margin: 5px;
    }
}

.events-img-wrapper img {
    width: 100%;
    height: 100%;
}

.events-avatar-wrapper {
    border: 1px solid #FFFBF5;
    border-radius: 50px;
    margin: 3px;
    overflow: hidden;
}
.events-avatar-wrapper img {
    width: 50px;
    height: 50px;
}

.event-section-wrapper {
    max-width: 850px;
    margin-top: 10px;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

@media screen and (max-width: 991px) {
    .event-section-wrapper {
        max-width: 100%;
    }
}

/* Bees On The Sea page */
.events.bees-on-the-sea {
    background-color: #285455;
}

.bg-bees-on-the-sea {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/events/bees_on_the_sea/bg_sea.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    animation: scaleDown 1s ease-in-out forwards;
}
.mobile-view .bg-bees-on-the-sea {
    background-image: url("../img/events/bees_on_the_sea/mobile/mobile_bg_sea.png");
}

.mask-bg-bees-on-the-sea {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #28545533 10%, #28545533 20%, #285455FF 80%, #285455FF 100%);
}

.balloon-comment-wrapper {
    position: absolute;
    z-index: 2;
    width: 155px;
    height: 72px;
    top: -100%;
    right: -90%;
}
@media screen and (max-width: 767px) {
    .balloon-comment-wrapper {
        width: 126px;
        height: 63px;
        top: -100%;
        right: -25%;
    }
}
@media screen and (max-width: 375px) {
    .balloon-comment-wrapper {
        top: -100%;
        right: -20%;
    }
}

.balloon-img {
    position: absolute;
    top: 0;
    right: 0;
}

.balloon-text {
    margin-top: -10px;
    position: relative;
    z-index: 3;
    font-family: 'AvenirNext';
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    transform: rotate(4deg);
}
@media screen and (max-width: 767px) {
    .balloon-text {
        margin-top: -15px;
    }
}

/**************************/

/* MERRY BEEMAS 2024 page */

.bg-merry-beemas-2024 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/events/merry_beemas_2024/bg_beemas.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    animation: scaleDown 1s ease-in-out forwards;
}
.mobile-view .bg-merry-beemas-2024 {
    background-image: url("../img/events/merry_beemas_2024/mobile/mobile_bg_beemas.png");
}

.mask-bg-merry-beemas-2024 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #A5334733 10%, #A5334733 20%, #A53347FF 80%, #A53347FF 100%);
}

/**************************/

/* Bees Go Brrrrrr page */
.events.bees-go-brrrrrr {
    background-color: #676744;
}

.bg-bees-go-brrrrrr {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/events/bees_go_brrrrrr/bg_go_brrrrrr.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    animation: scaleDown 1s ease-in-out forwards;
}

.mask-bg-bees-go-brrrrrr {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #67674433 10%, #67674433 20%, #676744FF 80%, #676744FF 100%);
}

/**************************/

/* Bees Care page */
.events.bees-care {
    background-color: #E8DCAC;
}

.bg-bees-care {
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/events/bees_care/bg_bees_care.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    animation: scaleDown 1s ease-in-out forwards;
}

.mask-bg-bees-care {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #E8DCAC33 10%, #E8DCAC33 20%, #E8DCACFF 80%, #E8DCACFF 100%);
}

/**************************/

/* Bees Awards page */
.events.bees-awards {
    background-color: #014BDC;
}

.bg-bees-awards {
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../img/events/bees_awards/bg_bees_awards.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    animation: scaleDown 1s ease-in-out forwards;
}

.mask-bg-bees-awards {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #014BDC33 10%, #014BDC33 20%, #014BDCFF 80%, #014BDCFF 100%);
}

/**************************/