.events-inner {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
}

.caption-div {
    margin-top: 232px;
    margin-bottom: 100px;
    max-width: 800px;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1s;
}
@media screen and (max-width: 991px) {
    .caption-div {
        margin-top: 33vh;
        margin-bottom: 20vh;
    }
}

.honey-dark-text {
    color: #29446D !important;
}

.events-title {
    font-family: "Agrandir-GrandHeavy";
    font-weight: 800;
    font-size: 55px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFBF5;
}
@media screen and (max-width: 991px) {
    .events-title {
        font-size: 30px;
    }
}

.events-sub-title {
    font-family: "Agrandir-GrandHeavy";
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFBF5;
}
@media screen and (max-width: 991px) {
    .events-sub-title {
        font-size: 20px;
    }
}

.events-desc-wrapper {
    max-width: 800px;
}

.events-desc {
    font-family: 'AvenirNext';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    color: #FFFBF5;
}
@media screen and (max-width: 991px) {
    .events-desc {
        font-size: 14px;
    }
}

.event-item {
    opacity: 0;
}

.event-item.fade-in-up {
    animation: fadeInUp 1s ease-in-out forwards;
    /* animation-delay: 1s; */
}

.events-img-wrapper {
    width: fit-content;
    height: fit-content;
    border: 3px solid #FFFBF5;
    border-radius: 55px;
    overflow: hidden;
}
@media screen and (max-width: 767px) {
    .events-img-wrapper {
        border-radius: 35px;
    }
}

.events-img-wrapper img {
    width: 100%;
    height: 100%;
}

.events-avatar-wrapper {
    position: relative;
    z-index: 1;
    border: 1px solid #FFFBF5;
    border-radius: 50px;
    margin: 3px;
}
.events-avatar-wrapper .avatar-img {
    width: 50px;
    height: 50px;
}

.event-section-wrapper {
    max-width: 850px;
    margin-top: 10px;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

@media screen and (max-width: 991px) {
    .event-section-wrapper {
        max-width: 100%;
    }
}

/* MERRY BEEMAS page */

.merry-beemas-2024 {
    background: linear-gradient(180deg, #D1585233 10%, #D1585233 20%, #D15852FF 80%, #D15852FF 100%), url("../img/events/merry_beemas_2024/bg_beemas.png");
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    animation: scaleDown 1s ease-in-out forwards !important;
}

@media (max-width: 992px) {
    .merry-beemas-2024 {
        background: linear-gradient(180deg, #D1585233 10%, #D1585233 20%, #D15852FF 50%, #D15852FF 100%), url("../img/events/merry_beemas_2024/mobile/mobile_bg_beemas.png");
    }
}

/**************************/

/* BEEWARDS NIGHT page */

.bees-awards {
    background: linear-gradient(180deg, #3B6CC733 10%, #3B6CC733 20%, #3B6CC7FF 80%, #3B6CC7FF 100%), url("../img/events/bees_awards/bg_bees_awards.png");
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    animation: scaleDown 1s ease-in-out forwards !important;
}

@media (max-width: 992px) {
    .bees-awards {
        background: linear-gradient(180deg, #3B6CC733 10%, #3B6CC733 20%, #3B6CC7FF 50%, #3B6CC7FF 100%), url("../img/events/bees_awards/mobile/mobile_bg_bees_awards.png");
    }
}

/**************************/

/* SENSE OF BEELONGING page */

.bees-on-the-sea {
    background: linear-gradient(180deg, #F4BF5233 10%, #F4BF5233 20%, #F4BF52FF 80%, #F4BF52FF 100%), url("../img/events/bees_on_the_sea/bg_sea.png");
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    animation: scaleDown 1s ease-in-out forwards !important;
}

@media (max-width: 992px) {
    .bees-on-the-sea {
        background: linear-gradient(180deg, #F4BF5233 10%, #F4BF5233 20%, #F4BF52FF 50%, #F4BF52FF 100%), url("../img/events/bees_on_the_sea/mobile/mobile_bg_sea.png");
    }
}

/**************************/

/* HAPPY BEECATION page */

.bees-go-brrrrrr {
    background: linear-gradient(180deg, #D47B4133 10%, #D47B4133 20%, #D47B41FF 80%, #D47B41FF 100%), url("../img/events/bees_go_brrrrrr/bg_go_brrrrrr.png");
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    animation: scaleDown 1s ease-in-out forwards !important;
}

@media (max-width: 992px) {
    .bees-go-brrrrrr {
        background: linear-gradient(180deg, #D47B4133 10%, #D47B4133 20%, #D47B41FF 50%, #D47B41FF 100%), url("../img/events/bees_go_brrrrrr/mobile/mobile_bg_go_brrrrrr.png");
    }
}

/**************************/

/* VOLUNBEEING MATTERS page */

.bees-care {
    background: linear-gradient(180deg, #2F436A33 10%, #2F436A33 20%, #2F436AFF 80%, #2F436AFF 100%), url("../img/events/bees_care/bg_bees_care.png");
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    animation: scaleDown 1s ease-in-out forwards !important;
}

@media (max-width: 992px) {
    .bees-care {
        background: linear-gradient(180deg, #2F436A33 10%, #2F436A33 20%, #2F436AFF 50%, #2F436AFF 100%), url("../img/events/bees_care/mobile/mobile_bg_bees_care.png");
    }
}

/**************************/

/* Style for Swiper */
.swiper {
    max-width: 800px;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    align-items: center;
    padding-bottom: 70px;
}

@media (max-width: 991px) {
    .swiper-wrapper {
        padding-bottom: 40px;
    }
}

.swiper-slide {
    background-color: transparent !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    max-width: 800px;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.swiper-slide-prev {
    visibility: hidden;
}

.swiper-slide-next {
    visibility: hidden;
}

.swiper-pagination-bullet {
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
}

.pagination-image {
    width: 40px;
    height: 40px;
    background: none;
    margin: 0px 5px !important;
  }
  
.pagination-image img {
    width: 40px;
    height: 40px;
    background-size: 150%;
    background-position: center;
    border-radius: 15px;
    border: 3px solid #fff;
}

@media (max-width: 991px) {
    .pagination-image {
        background-color: white;
        width: 10px;
        height: 10px;
        margin: 0px 3px !important;
    }
    .pagination-image img {
        width: 10px;
        height: 10px;
    }    
}
/********************/