.index-happen-marquee {
  margin-top: -100px;
}

.index-happen-marquee .index-marquee-content.yellow {
  z-index: 1;
}

.index-loren-marquee {
  position: absolute;
  top: -80px;
}

.index-loren-marquee .index-marquee-content.orange {
  margin-top: -20px;
}

.index-event-marquee {
  position: absolute;
  top: -50px;
}

.index-event-marquee .index-marquee-content.orange {
  margin-top: -50px;
}
