@keyframes floatInAndColorChange-discovery {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    color: transparent;
    visibility: visible;
    text-shadow: none;
  }
  20% {
    opacity: 1;
    transform: translateY(0);

    color: transparent;
    visibility: hidden;
    outline: #fff;
    -webkit-text-stroke: 3px #fff;

    text-shadow: none;
  }
  100% {
    opacity: 1;
    visibility: visible;
    /* -webkit-text-stroke: 3px #fff; */
    transform: translateY(0);
  }
}

@keyframes floatIn-questions {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes floatOut-questions {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}

.contact-section .col-7 {
  z-index: 100;
  align-self: center;
}

.coming-soon {
  color: #FFFBF5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  /* opacity: 0; */
  /* animation: floatInAndColorChange-discovery 2s ease-in-out 2.5s forwards; */
}

.questions-container {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 250px;
  /* margin-top: 200px; */
  justify-content: center;
}

@media (max-width: 767px) {
  .questions-container {
    margin-top: 10vh;
  }
}

.questions-container .questions-title {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.questions-container .questions-title h1 {
  font-size: 55px;
  color: #FFFBF5;
  max-width: 600px;
  line-height: 55px;
  width: 100%;
  margin: auto;
  font-family: "Agrandir-GrandHeavy";
  text-transform: uppercase;
  text-align: center;
}

.questions-container .questions-title h1 span {
  font-size: 55px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFFBF5;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 767px) {
  .questions-container .questions-title {
    padding: 20px 4px;
  }
  .questions-container .questions-title h1 {
    font-size: 30px;
    line-height: 1;
  }
  .questions-container .questions-title h1 span {
    font-size: 30px;
    line-height: 1;
  }
}

.start-btn-wrapper {
  margin-top: 10px;
  margin-bottom: 40px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.start-btn-wrapper.hide {
  opacity: 0;
  transform: scale(0.9);
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
}
.start-btn-wrapper.visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.questions-details-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .questions-details-wrapper {
    margin: 0 10px;
  }
}

.questions-detail {
  position: relative;
  max-width: 600px;
  color: #FFFBF5;
  font-family: "Agrandir-GrandHeavy";
  font-size: 18px;
  margin: 40px 0px;
}
@media (max-width: 767px) {
  .questions-detail {
    font-size: 14px;
  }
}

.ten-more-message-bubble {
  position: absolute;
  top: 35%;
  right: -250px;
  margin-left: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 229px;
  height: 99px;
}

.ten-more-message-bubble img {
  position: absolute;
}

.ten-more-message-bubble:after {
  content: "";
  background-image: url("../img/bee-logo.gif");
  background-position: 0px 0px;
  background-size: 100px 100px;
  position: absolute;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  top: 100%;
  right: 25%;
}

.ten-more-message-bubble-text {
  z-index: 2;
  transform: rotate(3deg);
  display: block;
  font-size: 18px;
  color: #29446d;
  font-family: "AvenirNext-Heavy";
  margin-top: -24px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .ten-more-message-bubble-text {
    font-size: 14px;
  }
}

.questions-radio-wrapper {
  align-items: center;
}
@media (max-width: 767px) {
  .questions-radio-wrapper {
    padding: 5px 0px;
  }
}

.questions-radio-wrapper input {
  border-color: #FFFBF5FF;
  margin: 0;
}
.questions-radio-wrapper input[type="radio"] + label {
  color: #FFFBF5FF;
}

.questions-radio-wrapper input[type="radio"]:checked {
  border-color: #FFFBF5FF;
}
.questions-radio-wrapper input[type="radio"]:checked + label {
  color: #FFFBF5FF;
}

.questions-radio-wrapper.inactive label {
  color: #FFFBF5AA !important;
}

.questions-radio-wrapper.inactive input {
  border-color: #FFFBF5AA !important;
}

.questions-radio-wrapper input[type="radio"]:checked::before {
  background-color: #FFFBF5FF;
}

.questions-radio-wrapper label {
  font-family: "AvenirNext" !important;
  font-size: 18px;
  margin: 5px;
}
@media (max-width: 767px) {
  .questions-radio-wrapper label {
    font-size: 14px;
  }
}

.user-info-container {
  width: 100%;
  margin: 40px auto 0;
  padding: 0 20px;
  max-width: 600px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-info div {
  width: 70%;
  margin: auto;
}

@media (max-width: 767px) {
  .user-info div {
    width: 90%;
  }
}

.user-info label {
  margin: 0%;
  font-family: "Agrandir-GrandHeavy";
  color: #FFFBF5;
  font-size: 20px;
}
@media (max-width: 767px) {
  .user-info label {
    font-size: 14px;
  }
}
.user-info input {
  box-shadow: -4px 4px 0 0 #3061ab;
  border: 2px solid #29446d;
  padding: 8px 0;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.user-info input:focus-visible {
  outline: none;
}

.questions-container button {
  line-height: 1;
  background-color: #FFFBF5;
  border: 5px solid #eeaf30;
  box-shadow: -4px 4px 0 0 #3061ab;
  border-radius: 25px;
  padding: 10px 60px;
  font-family: "Agrandir-GrandHeavy";
  /* text-transform: uppercase; */
  font-size: 18px;
  color: #29446d;
}
@media (max-width: 767px) {
  .questions-container button {
    font-size: 14px;
    padding: 10px 40px;
  }
}
.questions-container ol button {
  margin-left: -20px;
}

@media (max-width: 1200px) {
  .contact-section .col-7 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .contact-section h3 {
    font-size: 45px;
  }
  .contact-banner-text h3 {
    font-size: 45px;
  }
  .section-orange h3 {
    font-size: 45px;
  }
  .formsection h3 {
    font-size: 45px;
  }
}

@media (max-width: 900px) {
  .formsection .form .col-12 {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .coming-soon {
    font-size: 30px;
    line-height: 1;
  }
  .contact-section-people-lottie {
    display: none;
  }
  .contact-section-people-lottie2 {
    position: relative;
  }
  .contact-section .col-7 {
    text-align: center;
    align-self: flex-end;
    margin-bottom: 100px;
  }
  .contact-section h3 {
    font-size: 30px;
    line-height: 1;
  }
  .contact-section p {
    font-size: 14px;
  }
  .contact-section-people {
    transform: scale(1.7);
    top: 150px;
    right: -30px;
  }

  .contact-banner-text {
    margin: 100px 0px;
  }

  .contact-banner-text h3 {
    font-size: 30px;
    line-height: 1;
    max-width: 300px;
    width: 100%;
  }
  .contact-banner-text p {
    max-width: 300px;
    margin: auto;
    line-height: 1;
    font-size: 14px;
  }

  .section-orange h3 {
    font-size: 30px;
    line-height: 1;
    max-width: 300px;
    width: 100%;
  }
  .section-orange p {
    max-width: 300px;
    margin: auto;
    line-height: 1;
    font-size: 14px;
  }

  .formsection {
    padding: 100px 0px 200px;
  }

  .formsection h3 {
    font-size: 30px;
    line-height: 1;
    max-width: 300px;
    width: 100%;
  }
  .formsection p {
    font-size: 14px;
    max-width: 300px;
    margin: auto;
    line-height: 1;
  }

  .formsection .know-form-content {
    max-width: 300px;
  }

  .formsection label {
    font-size: 12px;
  }
  .formsection input {
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 0px;
  }
  .input-phone-container span {
    font-size: 12px;
    top: 16px;
  }
  .input-phone-container input[type="tel"] {
    padding-left: 40px;
  }
  .formsection .form .col-12 {
    margin-top: 20px !important;
  }

  .career-form-content input[type="radio"] {
    margin-top: 3px;
  }

  .career-form-content .col-12.label {
    font-size: 12px;
  }

  .formsection button {
    width: 110px;
    height: 25px;
    border: 2px solid #eeaf30;
    padding: 2px 0px;
    font-size: 12px;
  }
}

.questions-hidden {
  opacity: 0;
  height: 0;
  animation: floatOut-questions 0s ease-in-out 0s forwards !important;
}

.questions-hidden button {
  display: none;
}

.questions-details-wrapper-item {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: floatIn-questions 0.5s ease-in-out 0.5s forwards;
}

.custom-progress {
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #FFFBF5;
  overflow: hidden;
  position: relative;
  width: 60%;
  margin: auto;
}

.custom-progress .progress-bar {
  background: linear-gradient(90deg, #ffa500, #ff4500);
  border-radius: 20px;
  align-items: end;
  min-width: 50px;
}

.custom-progress .progress-bar img {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .custom-progress {
    height: 30px;
  }
  .custom-progress .progress-bar {
    min-width: 30px;
  }
  .custom-progress .progress-bar img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }  
}

@media (max-width: 767px) {
  .custom-progress {
    width: 80%;
  }
}